<app-navbar></app-navbar>

<ion-content [fullscreen]="true">
  <h1 class="ion-text-center">{{ambiente.descripcion}}</h1>

  <div class="imagen-container" >
    <img src="{{ambiente.foto}}" >
  </div>

  <table>
    <h3>Ubicacion: </h3>
    <tr>
      <td>Edificio: </td>
      <td>{{ambiente.pabellon?.descripcion}}</td>
    </tr>
    <tr>
      <td>Area: </td>
      <td>{{ambiente.area?.descripcion}}</td>
    </tr>
    <tr>
      <td>piso: </td>
      <td>{{ambiente.piso}}</td>
    </tr>
    <tr>
      <td>Contacto: </td>
      <td>{{ambiente.contacto}}</td>
    </tr>
    <tr>
      <td>Referencia: </td>
      <td>{{ambiente.referencia}}</td>
    </tr>
    <tr>
      <td>Horario de Atencion: </td>
    </tr>
    <tr><td>{{ambiente.horario}}</td></tr>
  </table>

</ion-content>
